.head-banner-cont {
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-image: url('/img-assets/M-and-E-img-Assets/M-and-E-Banner-scaled.jpg'); 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 98vh; 
    width: 100vw;
}

.head-banner-cont:before {
    top: 31%;
    z-index: 0;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Adjust the height of the fade effect */
    background: linear-gradient(to bottom, transparent, rgb(0  ,0 , 0,1)); /* Create the fade effect */
}

.banner-title{
     width: auto;
     font-family: 'Montserrat';
     padding: 20px 50px;
     font-size: 1.8em;
     font-weight: 300;
     position: relative;
     top: 230px;
     z-index: 10;

}
.banner-box{
    display: flex;
    align-items: center; justify-content: center;
    width: 40%;
    height: 100px;
    top: 250px;  
    background-color: #fff;
    position: relative;
    color: black;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    span{
        background-color: black;
        color: #fff;padding: 10px 20px;
        border-radius: 5px; margin-left:20% ;
    }
}


.f-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
    color: black;

    p{
        margin: auto;
        width: 45%;
        font-size: 19px;
        line-height: 180%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.hero-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    color: black;


    .hero-title{
        font-family: 'Montserrat';
        font-size: 26px;
    }
    .hero-container{
        display: flex;
        width: 55%;
        height: 75%;
        
        .hero,.info-det{
            width: 100%;
            .wyn-desc {
                font-style: italic; 
                font-size: 16px; 
                font-weight: 300;    
            }
        }
        .hero{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero img{
            width: 100%;
            height: 97%;
            object-fit: cover;
        
        }

        .info-det{
            padding-inline: 20px;
            
         
        }
        .hero-name,p{
            position: relative;
            margin-bottom: 1em;
        }
        .hero-name::before {
            content: "";
            position: absolute;
            bottom: 0; 
            width: 70px; 
            height: 2px; 
            background-color: #000; 
        }
    }
}

.event-catg-cont{
    text-align: center;
    display: flex; 
    flex-direction:column;
    padding-block: 50px;
    color:black; 
    align-items:center;
    width: 100; 
    height: 70vh;
    margin-bottom: 20px; 
    background-color: rgb(255, 255, 255);
    
    p{
        font-size: 24px;
        font-family: 'Montserrat';
    }
    p.main-text{
        width: 60%;
        margin-top: 10px;
        font-size: 16px;       
    }
    
    .choices-cont{
        display: flex;
        justify-content: center;
        gap: 5em;
        margin-top: 20px;
        width: 70%;
        height:70%;

        .meetings-box {
            background-image: url(/img-assets/M-and-E-img-Assets/M-and-E-Events-Main-scaled-570x380.jpg);
        }

        .title {
            .headT {
                font-family: 'Montserrat'; 
                font-weight: 400; 
                color: black; 
            }

            .main-text {
                    font-size: 16px; 
                    color: black;
            }

            .sub-text {
                    font-size: 80%; 
                    color: rgb(110, 110, 110);
            }
        }
    }
}
a{
    text-decoration: none;
    width: 100%;
}
.meetings-box, .events-box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title{
        display: block;
        background-color: #fff;
        text-align: left;
        width: 80%;
        height: 200px;
        top: 20%;
        position: relative;
        z-index: 10;
        padding: 2em;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
   
    
    }
}
.meetings-box , .events-box{
    background-color: aqua;
    height: 120%;
    width: 100%;
    position: relative;
    transition: 1s all ease-in-out;
}

.meetings-box:hover::after , .events-box:hover::after{
    top:0%;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust the height of the fade effect */
    background: linear-gradient(to bottom, transparent, rgb(29,28 , 26)); /* Create the fade effect */

}
.tb-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .tb-title{
        text-align: center;
        padding-block: 30px;
        background-color: #2c347f;
        width: 70%;
        color: rgb(231, 231, 231);
        font-size:32px;
    }
    .red, .yellow, .purple {
    width: 70%;
    height: 5px;
    }

    .red {
        background-color: #e63552;
    }

    .yellow {
        background-color: #fbcc0a;
    }

    .purple {
        background-color: #743a6d;
    }

}

table {
    border: 1px solid rgb(165, 165, 165);
    width: 70%;
    position: relative;
    border-collapse: collapse; 
    color: #000;
    margin-bottom: 50px;
}
td{
    color: #222222;
}
td, th {
    text-align: center;
    padding: 2%;
    font-size: 80%;
   
}

thead tr {
    border-bottom: 1px solid black; 
}

tbody tr:first-child {
    border-top: 1px solid black; 
}


@media  (max-width:460px) {

    table {

        width: 80%;

    }
    td, th {
        text-align: center;
        padding: 3%;
        font-size: 30%;
       
    }

    .meetings-box , .events-box{
        background-color: aqua;
        height: 50%;
        width: 120%;
        position: relative;
        transition: 1s all ease-in-out;
    }
    .meetings-box, .events-box{    
        .title{
            display: block;
            background-color: #fff;
            text-align: left;
            width: 90%;
            height: 250px;
            top: 80%;
            position: relative;
            z-index: 10;
            padding: 2px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
    }
    .event-catg-cont{        
        .choices-cont{
            display: flex;
            justify-content: center;
            gap: 2em;
            margin-top: 20px;
            width: 70%;
            height:70%;
    
        }
    }
    .hero-info-container{
        height: auto;
        font-size: 90%;
        .hero-container{
            padding: 0;
            flex-direction: column;
            .info-det{
                width: 100%;
            }
            .hero{
                width: 100%;
                
            }
        }
    }

    .f-content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40vh;
        width: 100%;
        color: black;
    
        p{
            margin: auto;
            width: 85%;
            font-size: 15px;
            line-height: 180%;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    .banner-title{
        width: auto;

        text-align: center;
        top: 40%;
        z-index: 10;
   
   }

   .banner-box{
    display: flex;
    align-items: center; justify-content: center;
    width: 60%;
    height: 100px;
    top: 40%;  
    background-color: #fff;
    position: relative;
    color: black;
    padding: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    font-size: 0.8em;
    span{
        background-color: black;
        color: #fff;padding: 10px 20px;
        border-radius: 5px; margin-left:20% ;
        }   
    }
}   

@media (max-width: 460px) {
    .head-banner-cont {
        height: 75vh;
    }

    .head-banner-cont:before {
        height: 45vh;
    }

    .banner-title {
        margin-top: -1px;
    }
    
    .banner-box {
        width: 80%;
    }

    .f-content {
        
        p {
            margin-top: 100px;
        }
    }

    .hero-info-container {
        justify-content: center;
        margin-top: 60px;
        padding-bottom: 30px;

        .hero-title {
            justify-content: center;
            text-align: center;
            width: 70vw;
        }

        .hero-container {
            .info-det {
                .wyn-desc {
                    font-style: italic; 
                    font-size: 16px; 
                    font-weight: 300;    
                    width: 70vw;
                    justify-content: center;
                    align-items: center;
                }

                p {
                    width: 70vw;
                    justify-content: center;
                    align-items: center;
                    margin-left: -42px;   
                }             
            }

            section {
                width: 70vw;
                justify-content: center;
                align-items: center;
                margin-left: -55px;   
            }
        }
    }

    .event-catg-cont{
        height: auto;
        
        p {
        width: 90%;
        font-size: 22px;
        text-align: center;
        margin-bottom: 40px;
        }   

    .choices-cont {
        width: 60%;
        margin: 0 0 0 -45px;
        display: flex;
        flex-direction: column;
        gap: 100px; /* space between meeting and event box */

        .meetings-box {
            height: 30vh;
        }

        .events-box {
            height: 30vh;
        }

        .title {
            height: auto;
            top: 50px;

            .headT { 
                text-align: center;
                width: 100%;
                
            }

            .main-text {
                display: none;
            }

            .sub-text {
                    text-align: center;
                    width: 100%;
                    font-size: 11px;
                    margin-top: -35px;
                }
            }
        }        
    }
}